name: CI

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: ./.github/actions/node-setup

      - name: Run type check
        run: npm run check-types

  format:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run format check
        run: npx prettier . --check

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        id: run-tests
        run: npm run test
